
__pycache__/
*.py[cod]
*$py.class
*.pyo


*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/
.env
.env.*


.idea/
*.iml


venv/
env/
ENV/
.venv/


.DS_Store
Thumbs.db


**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo


htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/


.mypy_cache/
.pytest_cache/
*.cover
*.py,cover


.vscode/

# Docker
*.pid
*.pid.lock
docker-compose.override.yml
